{% extends "base.html" %}
{% block content %}
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.link.label }}
    {{ form.link(size=32)}}
    {% for error in form.link.errors %}
    <span style="color:red; "> [{{ error }}]</span>
    {% endfor %}
  </p>
  <br>
  <p>
    {{form.submit()}}
  </p>
  <p>
    {{ form.metadata(onchange="onCheckChanged(this.checked)") }}
    {{ form.metadata.label }}
  </p>
  <p>
    {{ form.title.label(class="dissapear", style="display:none;") }}
    {{ form.title(class="dissapear", style="display:none;") }}
  </p>
  <p>
    {{ form.artist.label(class="dissapear", style="display:none;") }}
    {{ form.artist(class="dissapear", style="display:none;") }}
  </p>
  <p>
    {{ form.album.label(class="dissapear", style="display:none;") }}
    {{ form.album(class="dissapear", style="display:none;") }}
  </p>

</form>
{{ table }}
{% endblock%}
